.idea/
.vscode/
*.iml
.DS_Store
*.env
*.log
uploads/
db/
!**/resources/db/migration/
backend*.log

/allinone-frontend/node_modules
/allinone-backend/target
/allinone-frontend/dist
/allinone-backend/logs
